USE [member]
GO
/****** Object:  Table [dbo].[AccountOpen]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOpen](
	[AccountNumber] [varchar](7) NOT NULL,
	[AccountHolderName] [varchar](100) NULL,
	[FathersName] [varchar](100) NULL,
	[MothersName] [varchar](100) NULL,
	[NationalID] [varchar](20) NULL,
	[ContactNo] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[AccountOpeningDate] [date] NULL,
	[Balance] [money] NULL,
 CONSTRAINT [PK__AccountO__BE2ACD6ED03D7D4B] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTransaction]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTransaction](
	[TransId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](7) NULL,
	[AccountHolderName] [varchar](100) NULL,
	[BalanceBefore] [money] NULL,
	[TransType] [varchar](5) NULL,
	[Description] [varchar](100) NULL,
	[TransAmount] [money] NULL,
	[NewBalance] [money] NULL,
	[TransactionDate] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime] NULL,
 CONSTRAINT [PK__AccountT__9E5DDB3C79CA99E2] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Department] [nvarchar](150) NOT NULL,
	[Unique_ID] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Image] [varchar](max) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE1A5899102B] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsDenied] [bit] NULL,
	[ResetToken] [nvarchar](255) NULL,
	[ResetTokenExpiry] [datetime] NULL,
 CONSTRAINT [PK__Users__3214EC071930FA59] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountTransaction] ADD  CONSTRAINT [DF__AccountTr__Trans__150615B5]  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[AccountTransaction] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedDa__17036CC0]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsApprove__160F4887]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDenied]
GO
ALTER TABLE [dbo].[AccountTransaction]  WITH CHECK ADD  CONSTRAINT [FK__AccountTr__Accou__15FA39EE] FOREIGN KEY([AccountNumber])
REFERENCES [dbo].[AccountOpen] ([AccountNumber])
GO
ALTER TABLE [dbo].[AccountTransaction] CHECK CONSTRAINT [FK__AccountTr__Accou__15FA39EE]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMember]    Script Date: 13/08/25 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Procedure to delete a member
CREATE   PROCEDURE [dbo].[DeleteMember]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Member 
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllRecords]    Script Date: 13/08/25 11:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Procedure to get all records
CREATE   PROCEDURE [dbo].[GetAllRecords]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ID, Name, Address, Department, Unique_ID, Email, Phone, Image 
    FROM dbo.Member;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMemberById]    Script Date: 13/08/25 11:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Procedure to get a single member by ID
CREATE   PROCEDURE [dbo].[GetMemberById]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ID, Name, Address, Department, Unique_ID, Email, Phone, Image 
    FROM dbo.Member 
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertMember]    Script Date: 13/08/25 11:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Procedure to insert a new member
CREATE   PROCEDURE [dbo].[InsertMember]
    @Name NVARCHAR(50),
    @Address NVARCHAR(150),
    @Department NVARCHAR(50),
    @Unique_ID NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(15),
    @Image VARCHAR(max)
AS
BEGIN
  
    INSERT INTO dbo.Member (Name, Address, Department, Unique_ID, Email, Phone, Image)
    VALUES (@Name, @Address, @Department, @Unique_ID, @Email, @Phone, @Image);
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMember]    Script Date: 13/08/25 11:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Procedure to update an existing member
CREATE   PROCEDURE [dbo].[UpdateMember]
    @ID INT,
    @Name NVARCHAR(50),
    @Address NVARCHAR(150),
    @Department NVARCHAR(50),
    @Unique_ID NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(15),
    @Image VARCHAR(max)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Member
    SET Name = @Name, Address = @Address, Department = @Department, Unique_ID = @Unique_ID, Email = @Email, Phone = @Phone, Image = @Image
    WHERE ID = @ID;
END
GO
